*{
    box-sizing: border-box;
}
.column{
    float: left;
    width: 25%;
    padding: 10px;
    background-color: bisque;
}

@media screen and (max-width:992px){
    .column{
        float: left;
        width: 50%;
        background-color: burlywood;
    }
    
}
@media screen and (max-width:600px){
   
 .column{
        float: left;
        width: 100%;
        background-color: rgb(194, 133, 93);
    }
    
}

h1{
    text-align: center;
}

.hw2{
    width: 50%;
   padding: 10px;
    box-shadow: 10px 15px 15px rgb(66, 102, 208);
    float: left;
    
}