
.div1{
    background-color: teal;
    
    padding: 20px;
    

}
a{
    text-decoration: none;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: white;
    

}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
h5{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.div3{
    padding-left: 20px;
    padding-top: 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 5px rgb(90, 98, 122);
    width: 50%;
    float: left;
    display: flex;
    
    
}

h4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    
    
    cursor: pointer;
}
.td1{
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.div4{
    margin-top: 90px;
    padding-left: 20px;
    padding-top: 30px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px rgb(196, 202, 218);
    width: 100%;
    height: 500px;
    float: left;
    display: flex
}
.div5{
    margin-top: 90px;
    padding-left: 20px;
    padding-top: 30px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px rgb(196, 202, 218);
    width: 100%;
    height: 300px;
    float: left;
    display: flex;
    background-color: blue;
}
.d6{
    
    
    height: 200px;
    width: 25%;
    float:left;
    padding-bottom: 15px;
    padding-top: 20px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}