#circle2
{ 
    align-content: center;
    background-color: #398f85;
    width: 600px;
    height: 200px;
    border: 10px black;
    border-style:double;
    margin-right: 5px;
    margin-top: 150px;
    margin-bottom: 100px;
    border-radius: 5%;
    margin-left: 300px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 10px;
  }